[Desktop Entry]
Name=Guppi
Name[pt_BR]=Guppi
Name[da]=Guppi
Name[ja]=guppi
Name[nb]=Guppi
Name[uk]=Guppi
Comment=Data Plotting and Visualization
Comment[pt_BR]=Traçar e Visualizar Dados
Comment[da]=Plotning og visualisering af data
Comment[ja]=データのプロッタと視覚化
Comment[nb]=Plotting og visualisering av data
Comment[pl]=Kreślenie i wizualizacja danych
Comment[uk]=Побудова графіків та візуалізація даних
Exec=guppi
Icon=gnome-guppi.png
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
